@font-face {
  font-family: "pokemon";
  src: url(../../../PokemonClassic.ttf);
}
.nav1Poke button {
  background-color: rgba(0, 0, 0, 0.418);
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.918);
}
.nav1Poke button:hover {
  filter: brightness(190%);
  background-color: rgb(44, 44, 155);
}
.noShiny {
  opacity: 0;
  position: relative;
  top: -304px;
}
.nav1Poke h3 {
  font-size: 18px;
}
.Pokemon nav {
  display: flex;
  justify-content: space-between;
  background: rgb(56, 153, 248);
  background: linear-gradient(
    90deg,
    rgba(56, 153, 248, 1) 0%,
    rgba(9, 27, 54, 1) 51%,
    rgba(176, 88, 160, 1) 100%
  );
  padding: 1rem 2rem;
  min-width: 650px;
}
.Pokemon nav img {
  width: 40px;
}
.Pokemon .divHeader {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.829);
  height: 200px;
  min-width: 650px;
}
.vs {
  display: flex;
  justify-content: center;
  align-items: center;
}
.vs button {
  font-family: "arcade";
  color: gold;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 30px;
}
.exitPK {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  filter: invert(100);
  display: flex;
  justify-content: center;
  align-items: center;
}
.exitPK:hover {
  background-color: rgb(204, 15, 179);
}
.htpPK {
  font-size: 10.5px;
  background-color: rgba(255, 255, 255, 0.815);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: rgb(34, 20, 20);
}

.Pokemon .youPokemon {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 1rem;
}
.Pokemon .opPokemon {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 1rem;
}
.Pokemon .youPokemon img {
  transform: scale(1.6);
}
.Pokemon .opPokemon img {
  transform: scale(1.6);
}
.Pokemon .opPokemon div {
  width: 100%;
}
.Pokemon .youPokemon figure {
  margin-top: 1rem;
  padding-bottom: 0.5rem;
  width: 100%;
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  height: 150px;
  background: rgba(56, 152, 248, 0.37);
  background: linear-gradient(
    90deg,
    rgba(56, 152, 248, 0.322) 0%,
    rgba(30, 141, 43, 0.438) 28%,
    rgba(9, 27, 54, 0.301) 51%,
    rgba(108, 58, 58, 0.288) 76%,
    rgba(176, 88, 160, 0.281) 100%
  );
}

.Pokemon .opPokemon figure {
  margin-top: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 4rem;
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  background: rgba(56, 152, 248, 0.37);
  background: linear-gradient(
    90deg,
    rgba(56, 152, 248, 0.322) 0%,
    rgba(30, 141, 43, 0.438) 28%,
    rgba(9, 27, 54, 0.301) 51%,
    rgba(108, 58, 58, 0.288) 76%,
    rgba(176, 88, 160, 0.281) 100%
  );
}
.searchPKtype {
  width: 30vw;
  font-family: "pokemon";
  background: rgb(56, 153, 248);
  background: linear-gradient(
    90deg,
    rgba(56, 153, 248, 1) 0%,
    rgba(30, 141, 43, 1) 28%,
    rgba(9, 27, 54, 1) 51%,
    rgba(108, 58, 58, 1) 76%,
    rgba(176, 88, 160, 1) 100%
  );
  margin-top: 0.4rem;
  margin-right: 3vw;
  margin-left: 1vw;
}
.searchPKid {
  width: 15vw;
  font-family: "pokemon";
  background: rgb(56, 153, 248);
  background: linear-gradient(
    90deg,
    rgba(56, 153, 248, 1) 0%,
    rgba(30, 141, 43, 1) 28%,
    rgba(9, 27, 54, 1) 51%,
    rgba(108, 58, 58, 1) 76%,
    rgba(176, 88, 160, 1) 100%
  );
  margin-top: 0.4rem;
}
.nav2Poke input {
  background: rgb(56, 153, 248);
  background: linear-gradient(
    90deg,
    rgba(56, 153, 248, 1) 0%,
    rgba(30, 141, 43, 1) 28%,
    rgba(9, 27, 54, 1) 51%,
    rgba(108, 58, 58, 1) 76%,
    rgba(176, 88, 160, 1) 100%
  );
  font-family: "pokemon";
  margin-top: 0.4rem;
  width: 38vw;
}
@media screen and (max-width: 480px) {
  .nav2Poke input {
    width: 50vw;
  }
  .searchPKid option {
    font-size: 10px;
  }
  .searchPKtype option {
    font-size: 10px;
  }
}
@media screen and (min-width: 1000px) {
  .nav2Poke input {
    width: 300px;
  }
  .searchPKid {
    width: 100px;
  }
  .searchPKtype {
    width: 250px;
    margin-left: 0;
  }
}
.nav1Poke div {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.nav1Poke h2 {
  display: flex;
  align-items: center;
}
.nav1Poke div button {
  height: 70%;
  width: 5rem;
  font-family: "arcade";
}
.Pokemon {
  background-image: url("https://res.cloudinary.com/di0zpa5yw/image/upload/v1675434320/gamesHub/pokooo_w0txvx.png");

  background-size: contain;
  font-family: "pokemon";
}
.Pokemon .pokeSection {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
}
.Pokemon .pokeSection img {
  width: 300px;
}
.pokeSection .HWdiv {
  display: flex;
  justify-content: space-between;
  padding: 1% 2%;
  position: relative;
  top: -304px;
}
.Pokemon .pokeSection figure {
  margin: 1rem;
  max-width: 720px;
  height: 420px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  clip-path: polygon(
    0% 3%,
    2% 0%,
    98% 0%,
    100% 3%,
    100% 97%,
    99% 99%,
    68% 100%,
    66% 98%,
    35% 97%,
    33% 100%,
    1% 100%,
    0% 97%
  );
  border: 2px solid rgba(0, 0, 0, 0.356);
}
.pokeSection section {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15%;
  padding-right: 65px;
  background-color: rgba(151, 7, 7, 0.185);
}
.pokeSection section h3 {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-size: 20px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.788);
}
.pokeSection section h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-size: 21px;
  padding-right: 25px;
  text-shadow: 1px 1px 1px rgba(15, 10, 2, 0.788);
}
.pokeSection .mainDivPK {
  height: 90%;
  margin: 2% 0;
  gap: 1%;
  display: flex;
  color: rgb(14, 8, 1);
  text-shadow: 1px 1px 1px rgba(119, 116, 110, 0.788);
}
.pokeSection .imgDivPK {
  width: 40%;
}
.pokeSection .statsDivPK {
  width: 65%;
  position: relative;
  bottom: 14px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.438);
}
.pokeSection .ulstatsDiv {
  display: flex;
}
.pokeSection .ulstatsDiv ul li {
  font-size: 10px;
  letter-spacing: -0.5px;
  text-transform: capitalize;
  line-height: 30px;
  padding-left: 5px;
}
.pokeSection .statsDivPK h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2% 0;
  padding-top: 10px;
}
.pokeSection .habdivPK {
  display: flex;
  justify-content: space-around;
  padding-left: 10px;
}
.statsUl {
  width: 40%;
}
.pokeSection .habdivPK div {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  align-items: center;
}
.pokeSection .ulstatsDiv .movesUl li {
  font-size: 10px;
  padding-bottom: 2px;
  width: 110%;
  padding-right: 30px;
}
.pokeSection p {
  text-align: left;
  width: 180px;
  height: 200px;
  font-size: 14px;
  position: absolute;
  display: none;
  color: rgb(182, 54, 54);
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
  overflow: scroll;
  overflow-x: hidden;
}
.pokeSection .habdivPK div:hover p {
  display: flex;
}
.Pokemon .pokeSection figure:hover .shiny {
  opacity: 0;
}
.Pokemon .pokeSection figure:hover .noShiny {
  opacity: 100;
}
.fightPokemons {
  background-color: rgb(143, 11, 11) !important;
  width: 160px;
  height: 100px;
  border: 2px solid rgb(255, 174, 0) !important;
  color: rgb(207, 150, 44) !important;
  border-radius: 25px;
  filter: brightness(150%);
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
