:root {
  --main1:#003049;
  --principal1:#d62828;
  --highlight1:#f77f00;
  --background1:#fcbf49;
  --secundary1:#eae2b7;
  --main2:#e63946;
  --principal2:#3fb318;
  --highlight2:#a8dadc;
  --background2:#457b9d;
  --secundary2:#1d3557;
  --main3:#335c67;
  --principal3:#1a1918;
  --highlight3:#e09f3e;
  --background3:#9e2a2b;
  --secundary3:#540b0e;
  --main4:#9b5de5;
  --principal4:#f15bb5;
  --highlight4:#fee440;
  --background4:#00bbf9;
  --secundary4:#00f5d4;
  --main5:#132a13;
  --principal5:#31572c;
  --highlight5:#4f772d;
  --background5:#90a955;
  --secundary5:#ecf39e;
  --main6:#fffaf2;
  --principal6:#d1a65a;
  --highlight6:#403d39;
  --background6:#252422;
  --secundary6:#eb5e28;
  --main7:#001427;
  --principal7:#708d81;
  --highlight7:#f4d58d;
  --background7:#bf0603;
  --secundary7:#8d0801;
  --main8:#d81159;
  --principal8:#8f2d56;
  --highlight8:#218380;
  --background8:#fbb13c;
  --secundary8:#73d2de;
  --main9:#97dffc;
  --principal9:#858ae3;
  --highlight9:#613dc1;
  --background9:#4e148c;
  --secundary9:#2c0735;
}
